<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cuttlefish._04mybatis.mapper.UserMapper">
    <insert id="insert">
        INSERT INTO User(username,password,nickname,created) values(#{username},#{password},#{nickname},#{createdTime})
    </insert>

</mapper>
